* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, "Trebuchet MS", Arial, sans-serif;
  line-height: 20px;
  color: black;
  line-height: 1.6;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*--------------------------------------- Nav Bar Style ---------------------------------------*/

.nav-bar {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
  z-index: 1;
}

.nav-bar ul {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.nav-bar ul.active {
  visibility: visible;
}

.nav-bar ul li {
  list-style: none;
  margin: 40px 0;
  text-align: center;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  display: block;
  letter-spacing: 1px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 500;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #234de1;
  cursor: pointer;
  z-index: 1;
}

.toggle:before {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 35px;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: 0.5s;
}

.toggle.active:before {
  transform: rotate(405deg);
  background: black;
}

.menu {
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: purple;
  transition: transform 0.5s;
}

.overlay.active {
  transform: scale(100, 100);
  height:100%
}

/*--------------------------------------- Font Style ---------------------------------------*/

h1 {
  font-family: Montserrat, "Trebuchet MS", Arial, sans-serif;
  font-size: 5vh;
  font-weight: 300;
}

p {
  font-weight: 300;
  font-family: Montserrat, "Trebuchet MS", Arial, sans-serif;
}

.logo a {
  font-size: 2.5vh;
}

.nav-bar ul li a {
  font-size: 2.2vh;
}

.photo-block p {
    font-size: 2.2vh;
  }

/*--------------------------------------- Home Page Style ---------------------------------------*/
.my-intro {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.my-intro h1,
p,
.social {
  margin-left: 30px;
}

.my-intro h1 {
  margin-top: 100px;
}

.my-intro p {
  margin-top: 20px;
}

.self-description {
  width: 80vw;
}

.social {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: left;
  flex-wrap: wrap;
}

.social a {
  color: #234de1;
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2vh;
}

.social a:hover {
  color: black;
}

.see-work {
  display: none;
}

/*--------------------------------------- Project Page Style ---------------------------------------*/

.project-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-grid div {
  background: lightgray;
  margin-left: 30px;
  margin-right: 30px;
  height: 80vw;
  margin-top: 80px;
}

.project-grid p {
  width: 85vw;
  text-align: center;
  margin: 0;
  margin-top: calc(80vw + 20px);
}

/*--------------------------------------- About Page Style ---------------------------------------*/

.about {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.about img {
  max-width: 100%;
  height: auto;
}

.about p {
  margin: 0;
  max-width: 80vw;
  margin-top: 20px;
}

.about h1 {
    margin-bottom: 0px;
    margin-top:20px;
   }

/*--------------------------------------- Photography Page Style ---------------------------------------*/

.photography {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

/*--------------------------------------- Footer Style ---------------------------------------*/

.footer {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 90px;
}

.footer a {
  margin-left: 10px;
}

/*--------------------------------------- DESKTOP STYLES ---------------------------------------*/

@media only screen and (min-width: 740px) {
  /* --- plus menu screen toggle --- */
  .toggle {
    display: none;
  }
  .overlay {
    display: none;
  }
  
  /* --- interactive mouse  --- */
  .circle {
      width:20px;
      height: 20px;
      border: rgba(0, 0, 0, 0) 1px solid;
      border-radius: 50%;
      position: absolute;
  }


  /* --- nav bar menu --- */

  .nav-bar {
    display: flex;
    flex-direction: row;
    height: 10vh;
  }

  .nav-bar ul {
    all: unset;
    display: flex;
    position: absolute;
    right: 30px;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
  }

  .nav-bar ul li {
    margin-left: 30px;
  }

  .nav-bar ul li a {
    text-decoration: none;
    color: black;
  }

  .nav-bar .resume {
    color: white;
    background: #234de1;
    border-radius: 16px;
    margin: 0;
    padding: 5px 15px 6px 15px;
  }

  .nav-bar .resume:hover {
    background: #4e6cd8;
  }

  /* ---  intro font/width changes --- */
  .my-intro {
    margin-left: 60px;
  }

  .my-intro p {
    width: 60vh;
    font-size: 2.3vh;
  }

  /* --- project grid --- */

  .project-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 60px 1fr 1fr 60px;
    grid-template-rows: 40vmax 40vmax;
    grid-row-gap: 90px;
    grid-column-gap: 30px;
    margin-top: 100px;
  }

  .project-grid div {
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
  }

  .project-grid p {
    width: 100%;
    margin: 0;
    margin-top: calc(40vmax + 20px);
    font-size: 2.2vmin;
    font-weight: 500;
  }

  .project-grid .proj-1 {
    grid-column: 2;
    grid-row: 1;
  }

  .project-grid .proj-2 {
    grid-column: 3;
    grid-row: 1;
  }

  .project-grid .proj-3 {
    grid-column: 2;
    grid-row: 2;
  }
  .project-grid .proj-4 {
    grid-column: 3;
    grid-row: 2;
  }

  /* --- about page --- */
  .about {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about img {
    max-width: 100%;
    margin-left: 30px;
    height: auto;
  }

  .about p {
    width: 70vw;
  }


  /* --- photography page --- */

  .photography {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .photo-block img {
    max-width: 100%;
    margin-left: 30px;
    height: auto;
    margin-top: 30px;
  }

  .photo-block p {
      margin:0;
      position: relative;
      top:70px;
      left:50px;
      color:black;
      /* transform: scaleX(0); */
  }

  /* .photo-block p:hover {
      color: violet;
  } */

  /* .photo-block p::before {
    content: "";
    display: block;
    cursor: pointer;
    width: 20%;
    height: 30px;
    position: relative;
    top:30;
    left:-20px;
    background: chartreuse;
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(0);
  } */
/* 
  .photo-block::before {
    content: "";
    display: block;
    cursor: pointer;
    width: 200px;
    height: 30px;
    position: relative;
    top:100px;
    left:30px;
    background: white;
    border-radius: 0px 20px 20px 0px;
    opacity: 0.8;
    transition: transform 0.5s;
    transform-origin: left;
} */
  
/* .photo-block p:hover::before {
    transform: scaleX(1);
    transform-origin: left;
} */

  .about p {
    width: 70vw;
  }

  /* --- footer --- */

  .footer {
    font-size: 2.3vh;
  }

  .footer {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 890px) {
  #about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .about p {
    width: 400px;
    margin: 0;
    margin-left: 30px;
    font-size: 2.3vh;
  }

  .about #p2 {
      margin-top:30px;
  }

  .about h1 {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top:0px;
   }
}
